Django>=4.2
psycopg2-binary>=2.9
django-cors-headers
gunicorn
# mssql-django eliminado

# Resto de dependencias

# Django REST
djangorestframework>=3.14
djangorestframework-simplejwt>=5.2
pytz
python-dotenv
 djangorestframework-simplejwt>=5.2
 pytz
 python-dotenv
